<div class="main">
    <div class="container">
        <h1 id="status">Your Account <span id="email"><%=@email%></span>has been Deactivated, Contact Admin at <a href="mailto:usama.shahzad@recursolabs.com">usama.shahzad@recursolabs.com</a></h1>
    </div>
</div>
<style>
  .main{
    margin-top: 40px;
  }
  #status
  {
    margin-top: 10%;
    text-align: center;
  }
  #email
  {
    color:red;
  }
</style>
